<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Text Processing</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:rgb(0, 0, 0)">
            <a class="navbar-brand" style="background-color:rgb(120, 120, 120)" ><b>1 UPLOAD CSV</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item">
                        <a class="nav-link" ><b>2 COLUMN HANDLING</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class='container'>
            <form action="/process" method="post", enctype="multipart/form-data">

                {% csrf_token %}

                <div class="form-group">
                    <label for="exampleFormControlFile1">Select the CSV file</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Has Header
                    </label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Character Encoding</label>
                    <select class="custom-select" id="validationDefault04" required>
                        <option selected disabled value="">---</option>
                        <option>Utf-8</option>
                        <option>Utf-16</option>
                    </select>
                </div>
                <div class="form-check form-check-inline">
                    <p>Delimiter</p>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Comma</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Semicolon</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                    <label class="form-check-label" for="inlineRadio3">Pipe</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                        value="option4">
                    <label class="form-check-label" for="inlineRadio4">Cariet</label>
                </div>
                </br>
                <button type="submit" class="btn btn-outline-primary">Next</button>
                <button type="button" class="btn btn-outline-secondary">Cancel</button>

            </form>
        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>